@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Mengubah font sans-serif bawaan (Global) menjadi Montserrat */
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

    /* Menambahkan font secondary baru bernama 'inter' */
    --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;

    --color-base: #F9F9F9;
    --color-primary: #e31d1d;
    
}
